# 1. Importar librerias

In [84]:
import pandas as pd
import numpy as np
from funciones import contar_valores_sd
from funciones import data_cleaned
import warnings
warnings.filterwarnings("ignore", message="Downcasting.*", category=FutureWarning)

# 2. Carga de Datos

In [85]:
# Leer el archivo homicidios.xlsx y cargar las hojas "Hechos" y "Víctimas" en DataFrames
df_homicidios_h = pd.read_excel("DataSets/homicidios.xlsx", sheet_name="HECHOS")
df_homicidios_v = pd.read_excel("DataSets/homicidios.xlsx", sheet_name="VICTIMAS")
df_lesiones_h = pd.read_excel("DataSets/lesiones.xlsx", sheet_name="HECHOS")
df_lesiones_v = pd.read_excel("DataSets/lesiones.xlsx", sheet_name="VICTIMAS")

# 3. Exploracion y Limpieza de Datos

## 3.1 Dataset Homicidios - Hechos

### 3.1.1. Exploración inicial de los datos

In [86]:
#Vizualizo las primeras filas del DataFrame
df_homicidios_h.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [87]:
# Obtener información sobre las columnas y los tipos de datos
df_homicidios_h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

### 3.1.2. Limpieza y Normalización de datos

In [88]:
# Usando la funcion contar_valores_sd para ver la cantidad y porcentaje de valores "SD"
contar_sd = contar_valores_sd(df_homicidios_h)
print(contar_sd)

           Columna  Cantidad de SD  Porcentaje de SD
0             HORA               1          0.143678
1               HH               1          0.143678
2  LUGAR_DEL_HECHO               1          0.143678
3          VICTIMA               9          1.293103
4          ACUSADO              23          3.304598

In [89]:
# Reemplazar "sd" y "SD" con NaN en todo el DataFrame
df_homicidios_h.replace(["sd", "SD"], np.nan, inplace=True)

In [90]:
# Contar filas vacías por columna
filas_vacias_por_columna = df_homicidios_h.isnull().sum()
print(filas_vacias_por_columna)

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       1
HH                         1
LUGAR_DEL_HECHO            1
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    9
ACUSADO                   23
dtype: int64

En el conteo de filas vacias o nulos vemos que las columnas 'Altura' y 'Cruce' tienen significativamente una mayor cantidad de filas vacias, Lo recomendable es no usarlas y/o eliminarlas debido que no me aportan valor

In [91]:
df_homicidios_h['HH'] = df_homicidios_h['HH'].interpolate(method='linear')

In [92]:
# Contar filas duplicadas
duplicados_totales = df_homicidios_h.duplicated().sum()
print(duplicados_totales)

0

Como se logra ver nuestro DataFrame no tiene filas duplicadas

In [93]:
# Columnas para eliminar
columns_to_drop = ['AAAA', 'MM', 'DD', 'HORA', 'LUGAR_DEL_HECHO','Calle','Altura',
                   'Cruce','Dirección Normalizada','XY (CABA)','PARTICIPANTES']

Decidi eliminar las columnas 'AAAA', 'MM', y 'DD' debido que tenemos una columna 'fecha' donde tenemos todo los datos de las 3 columnas anteriores. Tambien mantiene una estructura más estandarizada, ahorra espacio y facilita el análisis.

Tambien eliminamos la columna 'Hora' debido que la informacion que posee ya la tenemos en otra columna 'HH' y nos facilita el tipo de informacion para trabajar de forma mas rapida.

Así mismo las columnas 'LUGAR_DEL_HECHO','Calle','Dirección Normalizada', tienen datos que encontramos en direccion de los hechos y tambien 'XY (CABA)' que contienen coordenadas en formato de proyección cartesiana también fue eliminada. Preferimos trabajar con las columnas de 'latitud' y 'longitud'.

In [94]:
# Renombrar columnas
rename_dict = {'ID': 'id_siniestro', 'N_VICTIMAS': 'nro_victimas', 'FECHA': 'fecha', 'HH': 'hora',
               'TIPO_DE_CALLE': 'tipo_calle', 'COMUNA': 'comuna', 'pos x': 'longitud', 'pos y': 'latitud',
               'VICTIMA': 'vehiculo_victima', 'ACUSADO': 'vehiculo_acusado'}

Renombramos columnas para mejorar el entendimiento de la columna(una forma más descrptiva)

In [95]:
# Valores de las sigueintes colummnas que convertiremos en minuscula
columns_to_lower = ['TIPO_DE_CALLE', 'VICTIMA', 'ACUSADO']

Uso la funcion lower para normalizar los valores ,debido que observo los valores en mayuscula y es preferible trabajar todo en minuscula

In [96]:
# Convertir a entero
columns_to_int = [ 'nro_victimas', 'hora', 'comuna']

# Categorización de columnas
columns_to_categorize = ['hora', 'tipo_calle', 'comuna', 'vehiculo_victima', 'vehiculo_acusado']

Convierti las columnas para una mayor facilidad al manipular los datos y tambien la compatibilidad para realizar funciones

In [97]:
# Invocamos la función 'data_cleaning' para que haga el proceso de limpieza de los datos 

df_homicidios_h_cleaned = data_cleaned(df_homicidios_h,
                                    strip_spaces = True, # Eliminar espacios en blanco                                  
                                    drop_columns = columns_to_drop,  # Eliminar columnas
                                    rename_columns = rename_dict,  # Renombrar columnas
                                    lowercase_columns = columns_to_lower, # Convertir a minuscula
                                    convert_to_int_columns = columns_to_int, # Conversión a entero
                                    categorize_columns = columns_to_categorize # Categorización de columnas
                                   )

In [98]:
df_homicidios_h_cleaned.head()

,id_siniestro,nro_victimas,fecha,hora,tipo_calle,comuna,longitud,latitud,vehiculo_victima,vehiculo_acusado
0,2016-0001,1,2016-01-01,4,avenida,8,-58.47533969,-34.68757022,moto,auto
1,2016-0002,1,2016-01-02,1,gral paz,9,-58.50877521,-34.66977709,auto,pasajeros
2,2016-0003,1,2016-01-03,7,avenida,1,-58.39040293,-34.63189362,moto,auto
3,2016-0004,1,2016-01-10,0,avenida,8,-58.46503904,-34.68092974,moto,NaN
4,2016-0005,1,2016-01-21,5,avenida,1,-58.38718297,-34.62246630,moto,pasajeros

In [99]:
df_homicidios_h_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_siniestro      696 non-null    object
 1   nro_victimas      696 non-null    Int64
 2   fecha             696 non-null    datetime64[ns]
 3   hora              696 non-null    Int64
 4   tipo_calle        696 non-null    category
 5   comuna            696 non-null    Int64
 6   longitud          696 non-null    object
 7   latitud           696 non-null    object
 8   vehiculo_victima  687 non-null    category
 9   vehiculo_acusado  673 non-null    category
dtypes: Int64(3), category(3), datetime64[ns](1), object(3)
memory usage: 43.2+ KB

## 3.2 Dataset Homicidios - Victimas

### 3.2.1. Exploración inicial de los datos

In [100]:
#Vizualizo las primeras filas del DataFrame
df_homicidios_v.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [101]:
# Obtener información sobre las columnas y los tipos de datos
df_homicidios_v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

### 3.2.2. Limpieza y Normalización de datos

In [102]:
# Usando la funcion contar_valores_sd para ver la cantidad y porcentaje de valores "SD"
contar_sd = contar_valores_sd(df_homicidios_v)
print(contar_sd)

               Columna  Cantidad de SD  Porcentaje de SD
0                  ROL              11          1.534170
1              VICTIMA               9          1.255230
2                 SEXO               6          0.836820
3                 EDAD              53          7.391911
4  FECHA_FALLECIMIENTO              68          9.483961

In [103]:
# Reemplazar "sd" y "SD" con NaN en todo el DataFrame
df_homicidios_v.replace(["sd", "SD"], np.nan, inplace=True)

In [104]:
# Contar filas vacías por columna
filas_vacias_por_columna_v = df_homicidios_v.isnull().sum()
print(filas_vacias_por_columna_v)

ID_hecho                0
FECHA                   0
AAAA                    0
MM                      0
DD                      0
ROL                    11
VICTIMA                 9
SEXO                    6
EDAD                   53
FECHA_FALLECIMIENTO    68
dtype: int64

In [105]:
# Contar filas duplicadas
duplicados_totales = df_homicidios_v.duplicated().sum()
print(duplicados_totales)

0

Como se logra ver nuestro DataFrame no tiene filas duplicadas

In [106]:
# Columnas para eliminar
columns_to_drop = ['FECHA','AAAA', 'MM', 'DD', 'FECHA_FALLECIMIENTO', 'VICTIMA']

Las columnas que estamos eliminando 'FECHA','AAAA', 'MM', 'DD', 'VICTIMA' ya tenemos en el DataFrame 'Hechos' y 'FECHA_FALLECIMIENTO' me parece irrelevante para el analisis

In [107]:
# Renombrar columnas
rename_dict = {'ID_hecho': 'id_siniestro', 'SEXO': 'sexo',
               'EDAD': 'edad', 'ROL': 'rol'}

Renombramos columnas para mejorar el entendimiento de la columna(una forma más descrptiva)

In [108]:
# Columnas para pasar a minúcula
columns_to_lower = ['SEXO','ROL']

In [109]:
# Convertir a entero
columns_to_int = ['edad']

# Categorización de columnas
columns_to_categorize = ['sexo','edad','rol']

Convierti las columnas para una mayor facilidad al manipular los datos y tambien la compatibilidad para realizar funciones

In [110]:
# Invocamos la función 'data_cleaning' para que haga el proceso de limpieza de los datos 
df_homicidios_v_cleaned = data_cleaned(df_homicidios_v,
                                    strip_spaces = True, # Eliminar espacios en blanco                                   
                                    drop_columns = columns_to_drop,  # Eliminar columnas
                                    rename_columns = rename_dict,  # Renombrar columnas
                                    lowercase_columns = columns_to_lower, # Convertir a minúsculas 
                                    convert_to_int_columns = columns_to_int, #Conversión entero
                                    categorize_columns = columns_to_categorize # Categorización de columnas
                                    )

In [111]:
# Crear la columna 'graved' con el valor 'muerte'
df_homicidios_v_cleaned['gravedad'] = 'muerte'

# Definir las columnas a categorizar
categorize_columns = ['gravedad']

# Llamar a la función data_cleaned para categorizar la columna 'graved'
df_homicidios_v_cleaned = data_cleaned(df_homicidios_v_cleaned, categorize_columns=categorize_columns)

In [112]:
df_homicidios_v_cleaned.head()

  id_siniestro        rol       sexo  edad gravedad
0    2016-0001  conductor  masculino    19   muerte
1    2016-0002  conductor  masculino    70   muerte
2    2016-0003  conductor  masculino    30   muerte
3    2016-0004  conductor  masculino    18   muerte
4    2016-0005  conductor  masculino    29   muerte

## 3.3. Dataset: Lesiones - Hechos

### 3.3.1. Exploración inicial de los datos

In [113]:
#Vizualizo las primeras filas del DataFrame
df_lesiones_h.head()

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,...,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,...,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD

In [114]:
df_lesiones_h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB

### 3.3.2. Limpieza y Normalización de datos

In [115]:
# Usando la funcion contar_valores_sd para ver la cantidad y porcentaje de valores "SD"
contar_sd = contar_valores_sd(df_lesiones_h)
print(contar_sd)

                  Columna  Cantidad de SD  Porcentaje de SD
0                    hora               4          0.016817
1   direccion_normalizada           10815         45.469834
2                  comuna             846          3.556864
3              tipo_calle           11045         46.436830
4          otra_direccion           18295         76.918226
5    geocodificacion_CABA            1213          5.099853
6                longitud            1209          5.083036
7                 latutid            1209          5.083036
8                 victima           10733         45.125079
9                 acusado           15288         64.275804
10                   moto            8511         35.783057
11                   auto           12543         52.734917
12     transporte_publico           11801         49.615304
13                 camion           12708         53.428631
14               ciclista           11353         47.731764
15               gravedad           23056         96.935043

In [116]:
# Reemplazar "sd" y "SD" con NaN en todo el DataFrame
df_lesiones_h.replace({"sd": np.nan, "SD": np.nan}, inplace=True)

In [117]:
# Contar filas vacías por columna
filas_vacias_por_columna_v = df_lesiones_h.isnull().sum()
print(filas_vacias_por_columna_v)

id                           0
n_victimas                   0
aaaa                         0
mm                           0
dd                           0
fecha                        0
hora                         9
franja_hora                  9
direccion_normalizada    10868
comuna                    1015
tipo_calle               11045
otra_direccion           18295
calle                    10918
altura                   11014
cruce                    14378
geocodificacion_CABA      1252
longitud                  1471
latutid                   1471
victima                  10733
acusado                  15288
participantes                0
moto                      8604
auto                     12636
transporte_publico       11894
camion                   12801
ciclista                 11446
gravedad                 23139
dtype: int64

In [118]:
# Contar filas duplicadas
duplicados_totales = df_lesiones_h.duplicated().sum()
print(duplicados_totales)

0

Como se logra ver nuestro DataFrame no tiene filas duplicadas

In [119]:
# Columnas para eliminar
columns_to_drop = ['aaaa','mm', 'dd', 'hora', 'direccion_normalizada', 'otra_direccion', 'calle', 'altura', 'cruce',
                   'participantes', 'geocodificacion_CABA', 'moto', 'auto', 'transporte_publico', 'camion', 'ciclista']

Decidi eliminar las columnas 'AAAA', 'MM', y 'DD' debido que tenemos una columna 'fecha' donde tenemos todo los datos de las 3 columnas anteriores. Tambien mantiene una estructura más estandarizada, ahorra espacio y facilita el análisis.

Tambien eliminamos la columna 'Hora' debido que la informacion que posee ya la tenemos en otra columna 'HH' y nos facilita el tipo de informacion para trabajar de forma mas rapida

Así mismo las columnas 'LUGAR_DEL_HECHO','Calle','Dirección Normalizada', tienen datos que encontramos en direccion de los hechos y tambien 'XY (CABA)' que contienen coordenadas en formato de proyección cartesiana también fue eliminada. Preferimos trabajar con las columnas de 'latitud' y 'longitud' debido que en el DataFrame anterior venimos trabajando con ese formato

La siguientes columnas 'moto', 'auto', 'transporte_publico', 'camion', 'ciclista' pienso que tienen muchos valores faltantes y complicaria el analis

In [120]:
# Renombrar columnas

rename_dict = {'id': 'id_siniestro', 'n_victimas': 'nro_victimas',
               'latutid': 'latitud', 'victima': 'vehiculo_victima', 'acusado': 'vehiculo_acusado'}

Renombramos columnas para mejorar el entendimiento de la columna(una forma más descrptiva)

In [121]:
# Columnas para pasar a minúcula

columns_to_lower = ['tipo_calle', 'victima', 'acusado', 'gravedad']

Uso la funcion lower para normalizar los valores ,debido que observo los valores en mayuscula y es preferible trabajar todo en minuscula

In [122]:
# Reemplazar valores nulos por otros valores

fill_na_dict = {'gravedad': 'lesiones'}

En la columna 'gravedad' debido que la gran mayoria de sus valores son NaN o nulos decidi reemplazar por un valores común para todos

In [123]:
# Convertir a flotante
columns_to_float = [ 'latitud', 'longitud']

In [124]:
# Convertir a entero
columns_to_int = [ 'nro_victimas', 'franja_hora', 'comuna']

# Categorización de columnas
columns_to_categorize = ['franja_hora', 'tipo_calle', 'comuna', 'vehiculo_victima', 'vehiculo_acusado', 'gravedad']

Convierti las columnas para una mayor facilidad al manipular los datos y tambien la compatibilidad para realizar funciones

In [125]:
# Invocamos la función 'data_cleaning' para que haga el proceso de limpieza de los datos 

df_lesiones_h_cleaned = data_cleaned(df_lesiones_h,
                                    strip_spaces=True, # Eliminar espacios en blanco
                                    drop_columns=columns_to_drop,  # Eliminar columnas
                                    rename_columns=rename_dict,  # Renombrar columnas
                                    lowercase_columns=columns_to_lower, # Convertir a minúsculas 
                                    fill_na=fill_na_dict, # Rellenar nulos                                                             
                                    convert_to_float=columns_to_float, # Convertir a float
                                    convert_to_int_columns=columns_to_int, #Conversión entero
                                    categorize_columns=columns_to_categorize # Categorizar columnas
                                   )

In [126]:
df_lesiones_h_cleaned.head()

,id_siniestro,nro_victimas,fecha,franja_hora,comuna,tipo_calle,longitud,latitud,vehiculo_victima,vehiculo_acusado,gravedad
0,LC-2019-0000179,1,2019-01-01 00:00:00,9,14,NaN,-58.408911,-34.559658,ciclista,NaN,lesiones
1,LC-2019-0000053,1,2019-01-01 00:00:00,1,8,NaN,-58.443510,-34.669125,auto,NaN,lesiones
2,LC-2019-0000063,1,2019-01-01 00:00:00,2,8,NaN,-58.468335,-34.677556,NaN,NaN,lesiones
3,LC-2019-0000079,1,2019-01-01 00:00:00,2,7,NaN,-58.437425,-34.647349,peaton,NaN,lesiones
4,LC-2019-0000082,4,2019-01-01 00:00:00,4,3,NaN,-58.398225,-34.604579,auto,NaN,lesiones

## 3.4. Dataset: Lesiones - Víctimas

### 3.4.1. Exploración inicial de los datos

In [127]:
df_lesiones_v.head()

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD
3,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD
4,LC-2019-0000082,2019,1,1,2019-01-01,sd,Mujer,45,SD

In [128]:
df_lesiones_v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID hecho          27605 non-null  object
 1   AAA               27605 non-null  int64
 2   MM                27605 non-null  int64
 3   DD                27605 non-null  int64
 4   FECHA             27605 non-null  datetime64[ns]
 5   VEHICULO_VICTIMA  27605 non-null  object
 6   SEXO              27605 non-null  object
 7   EDAD_VICTIMA      27605 non-null  object
 8   GRAVEDAD          27605 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.9+ MB

### 3.4.2. Limpieza y Normalización de datos

In [129]:
# Usando la funcion contar_valores_sd para ver la cantidad y porcentaje de valores "SD"
contar_sd = contar_valores_sd(df_lesiones_v)
print(contar_sd)

            Columna  Cantidad de SD  Porcentaje de SD
0  VEHICULO_VICTIMA            4479         16.225321
1              SEXO            1929          6.987865
2      EDAD_VICTIMA            3990         14.453903
3          GRAVEDAD           20722         75.066111

In [130]:
# Reemplazar "sd" y "SD" con NaN en todo el DataFrame
df_lesiones_v.replace(["sd", "SD"], np.nan, inplace=True)

In [131]:
# Contar filas vacías por columna
filas_vacias_por_columna_v = df_lesiones_v.isnull().sum()
print(filas_vacias_por_columna_v)

ID hecho                0
AAA                     0
MM                      0
DD                      0
FECHA                   0
VEHICULO_VICTIMA    16272
SEXO                 2228
EDAD_VICTIMA         4471
GRAVEDAD            27068
dtype: int64

In [132]:
# Contar filas duplicadas
duplicados_totales = df_lesiones_v.duplicated().sum()
print(duplicados_totales)

631

Como se logra ver nuestro DataFrame, tienen filas duplicadas pero debido que como los vehiculos no solo llevan un pasajero no borrare filas. Porque muchos de ellos tienen columnas con valores similares pero le distingue un valor sea sexo o edad y no son del todo iguales

In [133]:
# Columnas para eliminar
columns_to_drop = ['FECHA ','AAA', 'MM', 'DD','VEHICULO_VICTIMA','GRAVEDAD']

Las columnas que estamos eliminando 'FECHA','AAAA', 'MM', 'DD','VEHICULO_VICTIMA' y 'GRAVEDAD' ya tenemos en el DataFrame 'Hechos'

In [134]:
# Renombrar columnas
rename_dict = {'ID hecho': 'id_siniestro', 'SEXO': 'sexo', 'EDAD_VICTIMA': 'edad'}

Renombramos columnas para mejorar el entendimiento de la columna(una forma más descrptiva)

In [135]:
# Columnas para pasar a minúcula

columns_to_lower = ['SEXO']

In [136]:
# Reemplazar valores en columnas
values_to_replace = {'sexo': {'varon': 'masculino', 'mujer': 'femenino'}}

Uso la funcio replace porque es más comun usar 'masculino' y 'femenino' al dirigirse a un hombre y mujer

In [137]:
# Categorización de columnas

columns_to_categorize = ['sexo','edad']

Convierti las columnas para una mayor facilidad al manipular los datos y tambien la compatibilidad para realizar funciones

In [138]:
# Invocamos la función 'data_cleaning' para que haga el proceso de limpieza de los datos 

df_lesiones_v_cleaned = data_cleaned(df_lesiones_v,
                                    strip_spaces=True, # Eliminar espacios en blanco
                                    lowercase_columns=columns_to_lower, # Convertir a minúsculas                                    
                                    drop_columns=columns_to_drop,  # Eliminar columnas
                                    rename_columns=rename_dict,  # Renombrar columnas 
                                    replace_values=values_to_replace, # Reemplazar valores
                                    categorize_columns=columns_to_categorize, # Categorizar columnas
                                    )

c:\Users\U ANGEL\Desktop\Data Sciense\P02_LAB\Lab\funciones.py:120: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_cleaned[column] = df_cleaned[column].replace(replacements)

In [139]:
df_lesiones_v_cleaned.head()

      id_siniestro       sexo edad
0  LC-2019-0000053  masculino   57
1  LC-2019-0000063        NaN  NaN
2  LC-2019-0000079  masculino  NaN
3  LC-2019-0000082  masculino   45
4  LC-2019-0000082   femenino   45

## 4. Combinar Datos

In [143]:
df_homicidios = pd.merge(df_homicidios_h_cleaned, df_homicidios_v_cleaned, on='id_siniestro', how='inner')
df_lesiones = pd.merge(df_lesiones_h_cleaned, df_lesiones_v_cleaned, on='id_siniestro', how='inner')

In [144]:
df_homicidios.head()

,id_siniestro,nro_victimas,fecha,hora,tipo_calle,comuna,longitud,latitud,vehiculo_victima,vehiculo_acusado,rol,sexo,edad,gravedad
0,2016-0001,1,2016-01-01,4,avenida,8,-58.47533969,-34.68757022,moto,auto,conductor,masculino,19,muerte
1,2016-0002,1,2016-01-02,1,gral paz,9,-58.50877521,-34.66977709,auto,pasajeros,conductor,masculino,70,muerte
2,2016-0003,1,2016-01-03,7,avenida,1,-58.39040293,-34.63189362,moto,auto,conductor,masculino,30,muerte
3,2016-0004,1,2016-01-10,0,avenida,8,-58.46503904,-34.68092974,moto,NaN,conductor,masculino,18,muerte
4,2016-0005,1,2016-01-21,5,avenida,1,-58.38718297,-34.62246630,moto,pasajeros,conductor,masculino,29,muerte

In [147]:
df_lesiones.head()

,id_siniestro,nro_victimas,fecha,franja_hora,comuna,tipo_calle,longitud,latitud,vehiculo_victima,vehiculo_acusado,gravedad,sexo,edad,rol
0,LC-2019-0000179,1,2019-01-01 00:00:00,9,14,NaN,-58.408911,-34.559658,ciclista,NaN,lesiones,NaN,NaN,
1,LC-2019-0000053,1,2019-01-01 00:00:00,1,8,NaN,-58.443510,-34.669125,auto,NaN,lesiones,masculino,57,
2,LC-2019-0000063,1,2019-01-01 00:00:00,2,8,NaN,-58.468335,-34.677556,NaN,NaN,lesiones,NaN,NaN,
3,LC-2019-0000079,1,2019-01-01 00:00:00,2,7,NaN,-58.437425,-34.647349,peaton,NaN,lesiones,masculino,NaN,
4,LC-2019-0000082,4,2019-01-01 00:00:00,4,3,NaN,-58.398225,-34.604579,auto,NaN,lesiones,masculino,45,

## 5. Modificaciones y Correcciones

In [146]:
 # 1. Crear una nueva columna llamada 'rol' con valores vacíos
df_lesiones['rol'] = ' '

In [148]:
 # 2. Modificar la columna 'fecha' para eliminar la parte de la hora
column_to_datetime = ['fecha']
df_lesiones['fecha'] = data_cleaned(df_lesiones, convert_to_datetime=column_to_datetime)

In [ ]:
column_orden = ['id_siniestro', 'nro_victimas', 'fecha', 'franja_hora', 'tipo_calle', 'comuna', 'longitud', 'latitud', 
           'vehiculo_victima', 'vehiculo_acusado', 'rol', 'sexo', 'edad', 'gravedad']

df_lesiones = df_lesiones[column_orden]

In [149]:
df_lesiones.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27598 entries, 0 to 27597
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_siniestro      27598 non-null  object
 1   nro_victimas      27598 non-null  Int64
 2   fecha             27598 non-null  object
 3   franja_hora       27590 non-null  Int64
 4   comuna            25974 non-null  Int64
 5   tipo_calle        14719 non-null  category
 6   longitud          25942 non-null  float64
 7   latitud           25942 non-null  float64
 8   vehiculo_victima  14776 non-null  category
 9   vehiculo_acusado  9680 non-null   category
 10  gravedad          27598 non-null  category
 11  sexo              25370 non-null  category
 12  edad              23127 non-null  category
 13  rol               27598 non-null  object
dtypes: Int64(3), category(6), float64(2), object(3)
memory usage: 2.0+ MB